# Tutorial GAIN

    
 ## Missing Data Imputation using Generative Adversarial Nets

This tutorial shows how to use GAIN to do data imputation. Follow link [GAIN](http://proceedings.mlr.press/v80/yoon18a.html) for more details. We are using the UCI dataset forest cover type as an example.

Load dataset and show the first five samples:

In [16]:
from sklearn.datasets import fetch_covtype
import pandas as pd
data = fetch_covtype()
df = pd.DataFrame(data.data)
target = 'target'
df[target] = data.target

df.head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,target
0,2596.0,51.0,3.0,258.0,0.0,510.0,221.0,232.0,148.0,6279.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
1,2590.0,56.0,2.0,212.0,-6.0,390.0,220.0,235.0,151.0,6225.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
2,2804.0,139.0,9.0,268.0,65.0,3180.0,234.0,238.0,135.0,6121.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3,2785.0,155.0,18.0,242.0,118.0,3090.0,238.0,238.0,122.0,6211.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
4,2595.0,45.0,2.0,153.0,-1.0,391.0,220.0,234.0,150.0,6172.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5

Introduce missing data:

In [21]:
nsample = 50000
python_exe = 'python3'  # on some platforms the name of the python3 exe is python, python3.6 ...

!{python_exe} create_missing.py --dataset cover --pmiss 0.2 --normalize01 0 -o xmissing.csv --oref x.csv -n {nsample}
df_mis = pd.read_csv("xmissing.csv")
df_mis.head()

features: #54 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]
label(s): ['target'] # 7
#: 50000

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,2596.0,51.0,3.0,258.0,NaN,510.0,221.0,232.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
1,2590.0,NaN,2.0,212.0,-6.0,390.0,220.0,235.0,151.0,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN
2,NaN,139.0,9.0,NaN,65.0,3180.0,234.0,238.0,135.0,6121.0,...,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,155.0,18.0,NaN,118.0,3090.0,238.0,238.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0
4,2595.0,45.0,NaN,NaN,-1.0,391.0,NaN,234.0,150.0,6172.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0

Run the algorithm gain:

In [22]:
!{python_exe} gain.py -i xmissing.csv -o ximputed.csv

gain data:ximputed.csv # it:5000 testall:1 odir:. autocat:1 is_cat_one_hot:False

Namespace(alpha=10, autocategorical=1, bs=128, dataset=None, i='xmissing.csv', it=5000, o='ximputed.csv', phint=0.9, pmiss=0.2, ref=None, target=None, testall=1, trainratio=0.8, verbose=0)

features: #54 ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53'] label:None
WARNING:tensorflow:From gain.py:227: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

From gain.py:227: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From gain.py:207: The name tf.random_normal is deprecated. Please use tf.random.normal instead.

From gain.py:207: The name tf.random_normal is deprecated. Please use tf.random.normal instead.

WARNING:tensorflow:From gain.py:302: The name tf.log is deprecated. Please use tf.math.log instead.

From gain.py:302: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From gain.py:313: The name tf.train.AdamOptimizer is deprecated. Please use tf.compat.v1.train.AdamOptimizer instead.

From gain.py:313: The name tf.train.AdamOptimizer is deprecated. Please use tf.compat.v1.train.AdamOptimizer instead.

WARNING:tensorflow:From /home/mindrank/anaconda3/envs/bvb/lib/python3.7/site-packages/tensorflow/python/ops/math_grad.py:1205: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
From /home/mindrank/anaconda3/envs/bvb/lib/python3.7/site-packages/tensorflow/python/ops/math_grad.py:1205: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From gain.py:317: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

From gain.py:317: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

2020-07-02 14:47:13.132605: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2020-07-02 14:47:13.158173: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 3499910000 Hz
2020-07-02 14:47:13.158954: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55c87c680030 executing computations on platform Host. Devices:
2020-07-02 14:47:13.158967: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
OMP: Info #212: KMP_AFFINITY: decoding x2APIC ids.
OMP: Info #210: KMP_AFFINITY: Affinity capable, using global cpuid leaf 11 info
OMP: Info #154: KMP_AFFINITY: Initial OS proc set respected: 0-19
OMP: Info #156: KMP_AFFINITY: 20 available OS procs
OMP: Info #157: KMP_AFFINITY: Uniform topology
OMP: Info #179: KMP_AFFINITY: 1 packages x 10 cores/pkg x 2 threads/core (10 total cores)
OMP: Info #214: KMP_AFFINITY: OS proc to physical thread map:
OMP: Info #171: KMP_AFFINITY: OS proc 0 maps to package 0 core 0 thread 0
OMP: Info #171: KMP_AFFINITY: OS proc 10 maps to package 0 core 0 thread 1
OMP: Info #171: KMP_AFFINITY: OS proc 1 maps to package 0 core 1 thread 0
OMP: Info #171: KMP_AFFINITY: OS proc 11 maps to package 0 core 1 thread 1
OMP: Info #171: KMP_AFFINITY: OS proc 2 maps to package 0 core 2 thread 0
OMP: Info #171: KMP_AFFINITY: OS proc 12 maps to package 0 core 2 thread 1
OMP: Info #171: KMP_AFFINITY: OS proc 3 maps to package 0 core 3 thread 0
OMP: Info #171: KMP_AFFINITY: OS proc 13 maps to package 0 core 3 thread 1
OMP: Info #171: KMP_AFFINITY: OS proc 4 maps to package 0 core 4 thread 0
OMP: Info #171: KMP_AFFINITY: OS proc 14 maps to package 0 core 4 thread 1
OMP: Info #171: KMP_AFFINITY: OS proc 5 maps to package 0 core 5 thread 0
OMP: Info #171: KMP_AFFINITY: OS proc 15 maps to package 0 core 5 thread 1
OMP: Info #171: KMP_AFFINITY: OS proc 6 maps to package 0 core 10 thread 0
OMP: Info #171: KMP_AFFINITY: OS proc 16 maps to package 0 core 10 thread 1
OMP: Info #171: KMP_AFFINITY: OS proc 7 maps to package 0 core 11 thread 0
OMP: Info #171: KMP_AFFINITY: OS proc 17 maps to package 0 core 11 thread 1
OMP: Info #171: KMP_AFFINITY: OS proc 8 maps to package 0 core 12 thread 0
OMP: Info #171: KMP_AFFINITY: OS proc 18 maps to package 0 core 12 thread 1
OMP: Info #171: KMP_AFFINITY: OS proc 9 maps to package 0 core 13 thread 0
OMP: Info #171: KMP_AFFINITY: OS proc 19 maps to package 0 core 13 thread 1
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26838 thread 0 bound to OS proc set 0
2020-07-02 14:47:13.159429: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 2. Tune using inter_op_parallelism_threads for best performance.
WARNING:tensorflow:From gain.py:318: The name tf.global_variables_initializer is deprecated. Please use tf.compat.v1.global_variables_initializer instead.

From gain.py:318: The name tf.global_variables_initializer is deprecated. Please use tf.compat.v1.global_variables_initializer instead.

2020-07-02 14:47:13.203592: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.
  0%|                                                  | 0/5000 [00:00<?, ?it/s]OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26905 thread 1 bound to OS proc set 1
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26909 thread 3 bound to OS proc set 3
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26908 thread 2 bound to OS proc set 2
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26910 thread 4 bound to OS proc set 4
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26912 thread 6 bound to OS proc set 6
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26911 thread 5 bound to OS proc set 5
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26913 thread 7 bound to OS proc set 7
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26915 thread 9 bound to OS proc set 9
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26914 thread 8 bound to OS proc set 8
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26916 thread 10 bound to OS proc set 10
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26917 thread 11 bound to OS proc set 11
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26918 thread 12 bound to OS proc set 12
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26919 thread 13 bound to OS proc set 13
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26920 thread 14 bound to OS proc set 14
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26921 thread 15 bound to OS proc set 15
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26922 thread 16 bound to OS proc set 16
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26923 thread 17 bound to OS proc set 17
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26924 thread 18 bound to OS proc set 18
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26925 thread 19 bound to OS proc set 19
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26926 thread 20 bound to OS proc set 0
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26906 thread 21 bound to OS proc set 1
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26928 thread 23 bound to OS proc set 3
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26929 thread 24 bound to OS proc set 4
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26930 thread 25 bound to OS proc set 5
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26931 thread 26 bound to OS proc set 6
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26932 thread 27 bound to OS proc set 7
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26933 thread 28 bound to OS proc set 8
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26934 thread 29 bound to OS proc set 9
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26935 thread 30 bound to OS proc set 10
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26927 thread 22 bound to OS proc set 2

     0) loss train 0.484 test 0.514
     0) loss train 0.484 test 0.514:   0%|     | 1/5000 [00:00<43:43,  1.91it/s]OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26936 thread 31 bound to OS proc set 11
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26937 thread 32 bound to OS proc set 12
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26938 thread 33 bound to OS proc set 13
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26939 thread 34 bound to OS proc set 14
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26940 thread 35 bound to OS proc set 15
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26941 thread 36 bound to OS proc set 16
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26942 thread 37 bound to OS proc set 17
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26943 thread 38 bound to OS proc set 18
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26944 thread 39 bound to OS proc set 19
OMP: Info #250: KMP_AFFINITY: pid 26838 tid 26945 thread 40 bound to OS proc set 0
   500) loss train 0.093 test 0.255
  1000) loss train 0.056 test 0.255
  1500) loss train 0.051 test 0.272
  2000) loss train 0.044 test 0.286
  2500) loss train 0.031 test 0.289
  3000) loss train 0.035 test 0.271
  3500) loss train 0.032 test 0.271
  4000) loss train 0.024 test 0.289
  4500) loss train 0.016 test 0.280
  4500) loss train 0.016 test 0.280: 100%|█| 5000/5000 [00:28<00:00, 173.50it/s]
testall: (50000, 54) (50000, 54) (50000, 54) (128, 54)

Show imputed data

In [23]:
df_imp = pd.read_csv("ximputed.csv")
df_imp.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,2596.0,51.0,3.0,258.0,27.0,510.0,221.0,232.0,135.0,3293.959076,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2590.0,147.0,2.0,212.0,-6.0,390.0,220.0,235.0,151.0,3266.718292,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2802.0,139.0,9.0,253.0,65.0,3180.0,234.0,238.0,135.0,6121.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2840.0,155.0,18.0,278.0,118.0,3090.0,238.0,238.0,128.0,3202.908020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2595.0,45.0,13.0,248.0,-1.0,391.0,203.0,234.0,150.0,6172.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
def normalization (data):
  '''Normalize data in [0, 1] range.
  
  Args:
    - data: original data
  
  Returns:
    - norm_data: normalized data
    - norm_parameters: min_val, max_val for each feature for renormalization
  '''

  # Parameters
  _, dim = data.shape
  norm_data = data.copy()
  
  # MixMax normalization
  min_val = np.zeros(dim)
  max_val = np.zeros(dim)
  
  # For each dimension
  for i in range(dim):
    min_val[i] = np.nanmin(norm_data[:,i])
    norm_data[:,i] = norm_data[:,i] - np.nanmin(norm_data[:,i])
    max_val[i] = np.nanmax(norm_data[:,i])
    norm_data[:,i] = norm_data[:,i] / (np.nanmax(norm_data[:,i]) + 1e-6)   
    
  # Return norm_parameters for renormalization
  norm_parameters = {'min_val': min_val,
                     'max_val': max_val}
      
  return norm_data#, norm_parameters

'''Compute RMSE loss between ori_data and imputed_data

Args:
- ori_data: original data without missing values
- imputed_data: imputed data
- data_m: indicator matrix for missingness

Returns:
- rmse: Root Mean Squared Error
'''
import numpy as np
# Only for missing values
ori_data = normalization(np.array(pd.read_csv("x.csv")))
imputed_data = normalization(np.array(df_imp))
data_m = np.array(df_mis!=df_mis)
print(ori_data.shape,imputed_data.shape,data_m.shape)
nominator = np.sum(((1-data_m) * ori_data - (1-data_m) * imputed_data)**2)
denominator = np.sum(1-data_m)

rmse = np.sqrt(nominator/float(denominator))

print(rmse)

(50000, 54) (50000, 54) (50000, 54)
0.008663944049070279